   <!-- Hero Section -->
   <div class="hero-section">
    <h1 class="display-4">Welcome to Our Website!</h1>
    <p class="lead">Explore the best TV Shows tailored for you</p>
    
</div>


<div class="container product-section" id="products">
    <h2 class="text-center mb-5">Explore the best TV Shows tailored for you</h2>
    <h4 class="text-center mb-5">Enjoy Watching !</h4>
    <div class="d-flex justify-content-center">
        <a routerLink="/products" class="btn btn-shop btn-lg">Watch</a>
    </div>
</div>
